{% extends "myadmin/user/user_base.html" %}
{% load static %}

{% block title %}
User list
{% endblock title %}

{% block css %}
<!--
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css'%}">
-->
{% endblock css %}

{% block jshd %}
{% endblock jshd %}

{% block main_content %}
<div class="table-responsive">
  <table class="table table-bordered table-striped table-sm">
    <thead>
      <tr style="font-size:.5rem">
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Status</th>
        <th>Addtime</th>
        <th>Address</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
    {% for user in userlist %}

        {% if user.u_status == 0 %}
        <tr class="text-center" style="font-size:.75rem">
          <td>{{ user.u_id }}</td>
          <td>{{ user.u_name }}</td>
          <td>{{ user.Email }}</td>
          <td>Normal</td>
          <td>{{ user.addtime }}</td>
          <td>{{ user.addr }}</td>
          <td>
            <div class="d-flex" >
              <a class=" btn btn-outline-success btn-sm mr-2" href="{% url 'mAD_edit' user.u_id %}" style="color:#212529;font-size:0.5rem">Edit</a>
              <a class=" btn btn-outline-danger btn-sm mr-2" href="{% url 'mAD_del' user.u_id %}" style="color:#212529;font-size:0.5rem">Delete</a>

            </div>
          </td>
        </tr>
    <!--
      <button class="btn btn-outline-danger btn-sm mr-2" type="button" data-toggle="modal" data-target="#ConfirmDelete{{user.u_id}}" style="font-size:0.875rem;color:#212529">Delete</button>
        <div class="modal fade" id="ConfirmDelete{{user.u_id}}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Tips</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Are you sure to delete this record?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">
                  <a  style="color:#fff" href="{% url 'mAD_del' user.u_id %}">
                    Sure
                  </a>
                </button>
              </div>
            </div>
          </div>
        </div>
    -->
        {% elif user.u_status == 1 %}
        <tr class="text-center" style="color:#dc3545;font-size:.75rem" >
          <td>{{ user.u_id }}</td>
          <td>{{ user.u_name }}</td>
          <td>{{ user.Email }}</td>
          <td>Deleted</td>
          <td>{{ user.addtime }}</td>
          <td>{{ user.addr }}</td>
          <td>
            <div class="d-flex" >
              <a class=" btn btn-outline-success btn-sm mr-2" href="{% url 'mAD_edit' user.u_id %}" style="color:#212529;font-size:0.5rem">Edit</a>
              <a class=" btn btn-outline-danger btn-sm mr-2" href="{% url 'mAD_rec' user.u_id %}" style="color:#212529;font-size:0.5rem">Recovery</a>
            </div>
          </td>
        </tr>
    <!--
      <button class="btn btn-outline-danger btn-sm mr-2" type="button" data-toggle="modal" data-target="#ConfirmRecovery" style="font-size:0.875rem;color:#212529">Recovery</button>

        <div class="modal fade" id="ConfirmRecovery" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Tips</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Are you sure to recovery this record?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">
                  <a  style="color:#fff" href="{% url 'mAD_rec' user.u_id %}">
                    Sure
                  </a>
                </button>
              </div>
            </div>
          </div>
        </div>
    -->
        {% endif %}
    {% endfor %}
    </tbody>
  </table>
</div>
<a class="btn btn-link bg-light" style="color:#212529" href="{% url 'mAD_add' %}">
  + Add new user
</a>


{% endblock main_content %}

{% block jsbd %}

{% endblock jsbd %}