{% extends "base_signin.html" %}
{% load static %}

{% block title %}
boot test
{% endblock title %}

{% block css %}

<!--
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css'%}">
-->
{% endblock css %}

{% block jshd %}
{% endblock jshd %}

{% block brand %}
<a class="navbar-brand" href="{% url 'mAD_index' %}">
  <img src="{% static 'image/marker-dark.svg'%}" width="30" height="30" class="d-inline-block align-top" alt="">
  MvP<small class="text-muted" style="font-size:60%"> Manage your own Virtual Products</small>
</a>
{% endblock brand %}


{% block nav_item_active %}
<li class="nav-item">
  <a class="nav-link active"  href="{% url 'mAD_index' %}">Log in</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'mAD_signup' %}">Sign up</a>
</li>
{% endblock nav_item_active %}


{% block main_content %}
<form class="form-signin" action="{% url 'mAD_dosignin' %}" method="POST">
  {% csrf_token%}
  <h1 class="h3 mb-3 mt-4" style="font-size:1rem">Welcome, Please sign in</h1>

  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name="inputEmail" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" name="inputPassword" placeholder="Password" required>
  {% if status == 0 %}
  <p style="font-size:0.5rem;color:#d51515;margin-bottom:0.25rem" class="text-center">
      {{info}}
  </p>
  {% endif %}
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>

  <!--
  <img class="mb-4" src="{% static 'image/marker.svg'%}" alt="" width="72" height="72">
   <p class="mt-5 mb-3 text-muted">&copy; 2017-2021</p>
-->


{% endblock main_content %}

{% block jsbd %}

{% endblock jsbd %}